$border-radius: 0rem !default;
$border-radius-lg: 0rem !default;
$border-radius-sm: 0rem !default;

// colors
$default-grey   : rgba(black, 0.33);
$dark-grey      : rgba(black, 0.66);
$light-grey     : rgba(black, 0.10);
$lighter-grey   : rgba(black, 0.05);
$lightest-grey  : rgba(black, 0.01);

// Dark Theme Colours
$dark-default-grey   : rgba(white, 0.33);
$dark-dark-grey      : rgba(white, 0.66);
$dark-light-grey     : rgba(white, 0.10);
$dark-lighter-grey   : rgba(white, 0.05);
$dark-lightest-grey  : rgba(white, 0.01);


$primary: #bc4123;
$secondary: #fe810d;

$dark-bg            : rgba(black,0.9);//#0b172a;
//#013461;
$info: #88d5bb;


@import 'bootstrap/scss/bootstrap.scss';
@import 'partials/typography';
@import 'partials/menu';
@import 'partials/footer';

@keyframes spin {
    100% {
        transform:rotate(359deg);
    }
}

#root {
    #page-loading {
        width:100vw;
        height: 100vh;
        position: absolute;
        top:0;
        left:0;
        background: white;
        z-index: 9999;
       
        &::after {
            content: '\233D';
            width: 3rem;
            height: 3rem;
            font-size: 3rem;
            display: block;
            line-height: 3rem;
            text-align:center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%), rotate(0deg);
            transform-origin: center;
            animation: spin 4s linear infinite;
        }
    }
    
    & .wrapper {
        min-height: 100vh;
    }
}

#root > div.dark {
    background: $dark-bg ;
    & * {
        color:rgba(white, 0.85);
    }
    hr {
        border-top: 1px solid $dark-light-grey;
    }
    .card {
        border: 1px solid $dark-lighter-grey;
        & .card-header {
            border-bottom: 1px solid $dark-lighter-grey;
        }
        & .card-footer {
            border-top: 1px solid $dark-lighter-grey;
        }
        .card-header, .card-footer {
            background: $dark-lightest-grey;
        }
    }
    .form-control {
        border: 1px solid $dark-light-grey;
        background: $dark-lighter-grey;
    }
    .jumbotron {
        background: $dark-lightest-grey;
    }
}

/* Bootstrap Overwrite & Site wide styles */

hr {
    border-top: 1px solid $lighter-grey;
}

.btn {
    padding: 0.75rem 1.5rem;
}

.row {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);
}

.lead {
    font-size: 1.625rem;
}

.no-padding {
    padding: 0;
}

.jumbotron {
    background: $lightest-grey;
}

.form-control {
    border: 1px solid $light-grey;
}

.card {
    background: transparent;
    border: 1px solid $lighter-grey;
    & .card-header {
        border-bottom: 1px solid $lighter-grey;
    }
    & .card-footer {
        border-top: 1px solid $lighter-grey;
    }
    .card-header, .card-footer {
        background: $lightest-grey;
    }
}

.nav-padding {
    padding-top: 3.5rem;
}